.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.929000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.967773;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.981934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.975586;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(164,0,132),0 0.015em rgb(164,0,132),0.015em 0 rgb(164,0,132),0 -0.015em  rgb(164,0,132);}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(164,0,132);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-10.656000px;}
._6{margin-left:-6.480000px;}
._4{margin-left:-5.256000px;}
._3{margin-left:-3.671064px;}
._5{margin-left:-2.302128px;}
._2{margin-left:-1.215012px;}
._0{width:1.151064px;}
._1{width:2.302128px;}
.fc2{color:rgb(164,0,132);}
.fc1{color:rgb(0,0,153);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:21.656000px;}
.fs5{font-size:43.992000px;}
.fs7{font-size:47.964000px;}
.fs2{font-size:56.012000px;}
.fs0{font-size:63.948000px;}
.fs1{font-size:72.000000px;}
.fs4{font-size:112.024000px;}
.fs3{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.028000px;}
.y39{bottom:40.479000px;}
.y38{bottom:60.463000px;}
.y11{bottom:75.459000px;}
.y37{bottom:80.561000px;}
.y9{bottom:99.666000px;}
.y36{bottom:100.574000px;}
.y8{bottom:124.385000px;}
.y35{bottom:140.684000px;}
.y34{bottom:160.781000px;}
.y33{bottom:181.361000px;}
.yf{bottom:195.676000px;}
.y10{bottom:196.980000px;}
.y32{bottom:220.082000px;}
.y31{bottom:222.860000px;}
.y30{bottom:240.066000px;}
.y2f{bottom:242.958000px;}
.y2e{bottom:260.164000px;}
.y2d{bottom:263.084000px;}
.y7{bottom:265.068000px;}
.y2c{bottom:280.262000px;}
.y2b{bottom:283.068000px;}
.y6{bottom:286.980000px;}
.y2a{bottom:300.274000px;}
.y5{bottom:301.181000px;}
.y29{bottom:303.166000px;}
.y4{bottom:318.473000px;}
.y28{bottom:320.372000px;}
.y27{bottom:323.263000px;}
.y26{bottom:340.470000px;}
.y25{bottom:343.276000px;}
.y3{bottom:346.281000px;}
.y24{bottom:360.482000px;}
.y23{bottom:363.374000px;}
.ya{bottom:377.575000px;}
.y22{bottom:380.580000px;}
.y21{bottom:383.471000px;}
.y20{bottom:400.678000px;}
.ye{bottom:401.783000px;}
.y1f{bottom:403.484000px;}
.yd{bottom:420.265000px;}
.y1e{bottom:420.662000px;}
.y2{bottom:422.958000px;}
.y1d{bottom:423.581000px;}
.y1c{bottom:440.759000px;}
.y1b{bottom:443.679000px;}
.y1a{bottom:460.885000px;}
.y19{bottom:463.663000px;}
.yc{bottom:466.668000px;}
.y18{bottom:480.983000px;}
.y17{bottom:483.761000px;}
.yb{bottom:492.463000px;}
.y16{bottom:500.967000px;}
.y15{bottom:503.859000px;}
.y14{bottom:521.065000px;}
.y13{bottom:523.985000px;}
.y12{bottom:541.985000px;}
.h8{height:14.433809px;}
.h9{height:36.441398px;}
.ha{height:38.144172px;}
.h4{height:42.555992px;}
.h2{height:43.548588px;}
.h5{height:48.585492px;}
.h3{height:54.703125px;}
.h7{height:85.111984px;}
.h6{height:109.406250px;}
.h1{height:611.971000px;}
.h0{height:612.000000px;}
.w1{width:791.971000px;}
.w0{width:792.000000px;}
.x0{left:0.000000px;}
.xf{left:53.093000px;}
.x10{left:70.101000px;}
.x3{left:152.306000px;}
.x13{left:167.301000px;}
.x5{left:195.506000px;}
.x14{left:206.192000px;}
.x6{left:218.806000px;}
.x9{left:237.798000px;}
.x8{left:246.387000px;}
.xb{left:261.893000px;}
.xa{left:264.302000px;}
.x2{left:276.690000px;}
.x12{left:282.898000px;}
.x7{left:309.090000px;}
.x1{left:334.488000px;}
.x11{left:346.904000px;}
.x4{left:360.992000px;}
.xe{left:384.491000px;}
.xd{left:510.491000px;}
.xc{left:605.395000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-14.208000pt;}
._6{margin-left:-8.640000pt;}
._4{margin-left:-7.008000pt;}
._3{margin-left:-4.894752pt;}
._5{margin-left:-3.069504pt;}
._2{margin-left:-1.620016pt;}
._0{width:1.534752pt;}
._1{width:3.069504pt;}
.fs6{font-size:28.874667pt;}
.fs5{font-size:58.656000pt;}
.fs7{font-size:63.952000pt;}
.fs2{font-size:74.682667pt;}
.fs0{font-size:85.264000pt;}
.fs1{font-size:96.000000pt;}
.fs4{font-size:149.365333pt;}
.fs3{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.037333pt;}
.y39{bottom:53.972000pt;}
.y38{bottom:80.617333pt;}
.y11{bottom:100.612000pt;}
.y37{bottom:107.414667pt;}
.y9{bottom:132.888000pt;}
.y36{bottom:134.098667pt;}
.y8{bottom:165.846667pt;}
.y35{bottom:187.578667pt;}
.y34{bottom:214.374667pt;}
.y33{bottom:241.814667pt;}
.yf{bottom:260.901333pt;}
.y10{bottom:262.640000pt;}
.y32{bottom:293.442667pt;}
.y31{bottom:297.146667pt;}
.y30{bottom:320.088000pt;}
.y2f{bottom:323.944000pt;}
.y2e{bottom:346.885333pt;}
.y2d{bottom:350.778667pt;}
.y7{bottom:353.424000pt;}
.y2c{bottom:373.682667pt;}
.y2b{bottom:377.424000pt;}
.y6{bottom:382.640000pt;}
.y2a{bottom:400.365333pt;}
.y5{bottom:401.574667pt;}
.y29{bottom:404.221333pt;}
.y4{bottom:424.630667pt;}
.y28{bottom:427.162667pt;}
.y27{bottom:431.017333pt;}
.y26{bottom:453.960000pt;}
.y25{bottom:457.701333pt;}
.y3{bottom:461.708000pt;}
.y24{bottom:480.642667pt;}
.y23{bottom:484.498667pt;}
.ya{bottom:503.433333pt;}
.y22{bottom:507.440000pt;}
.y21{bottom:511.294667pt;}
.y20{bottom:534.237333pt;}
.ye{bottom:535.710667pt;}
.y1f{bottom:537.978667pt;}
.yd{bottom:560.353333pt;}
.y1e{bottom:560.882667pt;}
.y2{bottom:563.944000pt;}
.y1d{bottom:564.774667pt;}
.y1c{bottom:587.678667pt;}
.y1b{bottom:591.572000pt;}
.y1a{bottom:614.513333pt;}
.y19{bottom:618.217333pt;}
.yc{bottom:622.224000pt;}
.y18{bottom:641.310667pt;}
.y17{bottom:645.014667pt;}
.yb{bottom:656.617333pt;}
.y16{bottom:667.956000pt;}
.y15{bottom:671.812000pt;}
.y14{bottom:694.753333pt;}
.y13{bottom:698.646667pt;}
.y12{bottom:722.646667pt;}
.h8{height:19.245078pt;}
.h9{height:48.588531pt;}
.ha{height:50.858896pt;}
.h4{height:56.741323pt;}
.h2{height:58.064784pt;}
.h5{height:64.780656pt;}
.h3{height:72.937500pt;}
.h7{height:113.482646pt;}
.h6{height:145.875000pt;}
.h1{height:815.961333pt;}
.h0{height:816.000000pt;}
.w1{width:1055.961333pt;}
.w0{width:1056.000000pt;}
.x0{left:0.000000pt;}
.xf{left:70.790667pt;}
.x10{left:93.468000pt;}
.x3{left:203.074667pt;}
.x13{left:223.068000pt;}
.x5{left:260.674667pt;}
.x14{left:274.922667pt;}
.x6{left:291.741333pt;}
.x9{left:317.064000pt;}
.x8{left:328.516000pt;}
.xb{left:349.190667pt;}
.xa{left:352.402667pt;}
.x2{left:368.920000pt;}
.x12{left:377.197333pt;}
.x7{left:412.120000pt;}
.x1{left:445.984000pt;}
.x11{left:462.538667pt;}
.x4{left:481.322667pt;}
.xe{left:512.654667pt;}
.xd{left:680.654667pt;}
.xc{left:807.193333pt;}
}
